<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Flights and Airports - LUFTH_TRACK_DATA</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/logo_LUFTH_TRACK_DATA_250x250.png') }}" alt="Logo" class="logo">
        </div>
        <div class="app-name">LUFTH_TRACK_DATA</div>
        <a href="https://www.lufthansa.com/" style="color: #1B84a0" target="_blank">Site Officiel Lufthansa</a>
        <a href="{{ url_for('logout') }}" style="color: #1B84a0; text-decoration: none; margin-left: 20px;">Logout</a>
    </div>

    <div class="container">
        {% for airport in airports %}
            {% endfor %}
        <form id="airportSelectionForm">
            <label for="departureAirport">Aéroport de Départ:</label>
            <select id="departureAirport" name="departureAirport" required>
                {% for airport in airports %}
                    <option value="{{ airport['AirportCode'] }}">{{ airport['AirportCode'] }} - {{ airport['Names']['Name']['$'] }} - ({{ airport['CountryCode'] }})</option>
                {% endfor %}
            </select>
            
            <label for="arrivalAirport">Aéroport d'Arrivée:</label>
            <select id="arrivalAirport" name="arrivalAirport" required>
                {% for airport in airports %}
                    <option value="{{ airport['AirportCode'] }}">{{ airport['AirportCode'] }} - {{ airport['Names']['Name']['$'] }} - ({{ airport['CountryCode'] }})</option>
                {% endfor %}
            </select>

            <button type="submit">Voir Vols</button>
        </form>

        <a href="{{ url_for('index') }}">Tous les vols</a>

        <div id="graph"></div>

        <div id="airportCodes">
            <p>Aéroport de départ: <span id="departureCode"></span></p>
            <p>Aéroport d'arrivée: <span id="arrivalCode"></span></p>
        </div>
        <div id="errorMessage" class="error"></div>
    </div>

    <div id="graph"></div>
    


    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var graphDiv = document.getElementById('graph');

            // Initialiser une carte vide
            var graphJSON = {{ graphJSON | safe }};
            Plotly.newPlot(graphDiv, graphJSON.data, graphJSON.layout);

            var form = document.getElementById('airportSelectionForm');
            form.addEventListener('submit', function(event) {
                event.preventDefault();
                var formData = new FormData(form);
                fetch('/airport', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error_message) {
                        document.getElementById('errorMessage').innerText = data.error_message;
                    } else {
                        var graphJSON = JSON.parse(data.graphJSON);
                        Plotly.react(graphDiv, graphJSON.data, graphJSON.layout);
                    }
                })
                .catch(error => console.error('Error:', error));
            });
        });
    </script>
</body>
</html>
